* {
    box-sizing: border-box;
}
body {
    font-family: arial, serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    height:100vh;
    overflow:auto;
    margin: 0;
    z-index: 1;
    background-color: black;
}
.logo-box{
  
  padding-left: 5px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 4px;
  background-color: #55BAFC;
  margin-left: 5px;
}
h1{
  font-size: 36px;
  font-family: Algerian, Serif;
  text-align: center;
  text-decoration: underline;
  padding-right: 5%;
}
.logo{
    font-family: Budapest, "Times New Roman", fantasy;   
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}
#button{
    float: right;
    padding: 3px;
}   

#bottom_logo{
    float:right;
}
img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.image-container {
    display: flex;
    flex-direction: row;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 0;
  }
  .carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    min-height: 330px;
    min-width: 400px;
    height: 330px;
    width: 400px;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 100;
  }
  .buttons-container {
    display: flex;
    justify-content: space-between;
    z-index: -1;
  }  
  .btn {
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor:grab;
    width: 49.5%;
    z-index: 100;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .btn:focus {
    outline: none;
  }
  .cc{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
  .pictures{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
  }
  .pictures img{
    margin-top: 100px;
  }
  
  nav{
    background-color: #D9FCCC;
    z-index: 101;
  }
  #a, #c {
  margin-left: 15%;
  margin-right: 10%;
  }
  #b, #d {
    margin-left: 10%;
    margin-right: 15%;
  }
  #logo-box{
    margin-bottom: 10px !important;
    float: right;
  }
  * {
    box-sizing: border-box;
  }
  
  .btns {
    background-color: lightblue;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
  }
  
 
  .bg {
    background: url(1.JPG)  no-repeat center center/cover;
    position: fixed;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: 101;
    filter: blur(70px);
  }
  
  .loading-text {
    font-size: 50px;
    color: #fff;
    text-align: center;
    z-index: 102;
    transform: translateY(50vh);
    position: relative;
  }
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: darkblue;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.nav button{
    background-color: #55BAFC;
  }

.nav .container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: darkblue;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #55BAFC;;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #55BAFC;
}

.nav.active .container {
  padding: 10px 0;
}
.nav.active button{
  background-color:darkblue;
}
.nav.active .logo-box{
  
  padding-left: 5px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 4px;
  background-color: darkblue;
  margin-left: 5px;
}
.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}
#a {
  color: white;
  font-family: Shofar, serif;
}
.faq {
  color: white;
}
.faq-toggle{
  color:white;
}
.faq.active{
  background-color: black;
  z-index: 3;
}
.abc {
  color: white;
  font-size: small;
}
#abc{
  color: white;
  font-size: small;
}
.inactive{
  visibility:hidden;
}
.active-class{
  color: white;
  font-size: small;
}
.display{
  width: 100px;
  display: inline-block;
  flex-direction: row;
}
#bcd{
  margin-left: 20%;
   position:fixed;
}
#cde{
  margin-left: 30%;
  position: fixed;
}
.display  {
  background-color: darkblue;
  color: #fff;
  border: 1px lightblue;
  font-size: 11px;
  padding: 5px 5px;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
  cursor:grab;
}

.display:focus {
  outline: none;
}

.display .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
.text{
  color:white;
}
#footer {
  color:white;
}